@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  width: 336px;
  height: auto;
  margin: 232px auto;
}

.header {
  background-color: #ffdc40;
  width: 334px;
  height: 28px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 19px 19px 0px 0px;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  width: 198px;
  height: 34px;
  margin: 13px 69px 16px;
}

input {
  border: 0;
  width: 224.3px;
  height: 38px;
  margin-left: 27px;
  outline: none;
}

.todo-list {
  height: auto;
  width: 290px;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.add-button {
  margin: 20.65px 0 23px 91.72px;
  border: 0;
  background-color: white;
  width: 150px;
  height: 42px;
  background: #9953f1;
  border-radius: 71px;
}

.delete-buttons {
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
  background-image: url(/images/inactive-delete-button.png);
  padding-bottom: 5px;
  margin-left: -22px;
}

.delete-buttons:hover {
  background-image: url(/images/active-delete-button.png);
}

.sorting {
  border: none;
  background-color: white;
  width: 25px;
  height: 15px;
  margin-left: 281px;
  margin-bottom: 12px;
}

.plus-sign {
  padding-top: 13px;
  margin-top: -12.5px;
  width: 42px;
  height: 41.5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #aa68fe;
  border-radius: 50%;
}

p {
  margin-left: 70px;
  margin-top: -29px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
